@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

  .logo{
    margin: 10px;
    border-radius: 50%;
    width:80%;

  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    border-top: 1px solid #2b4792;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-top:8px;
    padding-top:10px;
    font-family: Roboto;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }